.container{
    display: flex;
    height: 630px;
    margin: -8px;
    background-color: #222529;
}
.score{
    background-color: #3c434a;
    margin: 5px;
    flex-grow: 1;
}
.playground{
    border: 3px solid black;
    background-color: #3c434a;
    margin: 5px;
    flex-grow: 1;
    font-size: 0.01px;
    
}
table{
    width: 100%;
    height: 100%;
}

td{
    border: 1px solid gray;
    height: auto;
    width: auto;
}

.snakehead{
    background-color: rgb(71, 255, 47);
}
.snake{
    background-color: rgba(71, 255, 47, 0.651);
}